body{
    background-color: lightgrey;
}

h1{ 
    background-color: #000000;
    color: #FFFFFF;
}

p{
    opacity: 0.7;
}
#opacityList{
    background-color: lightblue;
}

h2{
    background-color: #9eb5a8;
    color: lightgrey;
}
#quote{
    color: #996D9E;
}
.celebs{
    background-color: gold;
}

dt{
    background-color: hsl(76,72%,75%);
}

dd{
    background-color: hsl(180,100%,50%);
}
